{% extends "base.html" %}
{% block title %}++{% endblock title %}

{% block content %}
    <h1>Занятие</h1>
    <h4>{{ dt }} {{ idpara }}</h4>

    {{ res }}
    <form method="POST" class="post-form" action="">
        {% csrf_token %}
        <table class="table-sm  table-hover">
            <tr>
                <td>Название:</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>Группа:</td>
                <td>{{ form.idgrp }}</td>
            </tr>
            <tr>
                <td>Преподаватель:</td>
                <td>{{ form.idpers }}</td>
            </tr>
            <tr>
                <td>Аудитория:</td>
                <td>{{ form.idaud }}</td>
            </tr>
            <tr>
                <td>Предмет:</td>
                <td>{{ form.idpredmet }}</td>
            </tr>
            <tr>
                <td colspan=2>
                    <button class="btn btn-primary w-100 py-2" type="submit">Записать</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock content %}