{% extends "base.html" %}
{% block title %}++{% endblock title %}
{% block header2 %}
    <div style="text-align: center">
        <strong> {{ aname }}</strong><br>
        <a href="{% url 'audrasp' i wdp %}" style="text-decoration: underline">
            &lt;Неделя назад
        </a>
        <strong> < {{ wd }} > </strong>
        <a href="{% url 'audrasp' i wdn %}" style="text-decoration: underline"> Неделя вперед&gt; </a>
    </div>
    <br>
{% endblock header2 %}
{% block content %}

    <center>
        <div class="row row-cols-3 row-cols-md-1 mb-3" style="width: 80%; align: center">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg1 }}">
                    <h4 class="my-0 fw-bold {{ light1 }}">{{ dt1 }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Группа</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                            </tr>
                            {% for i in r1 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'rspadd' idp %}?dt={{ d1 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">{{ i.i.name }}</a>
                                        {% else %}
                                            <a href="{% url 'rspedit' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i.idpara.name }}</a>
                                        {% endif %}
                                        </td>


                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idgrp.name }}</td>
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers.fio }}</td>
                                        {% endif %}

                                    </li>
                                </tr>

                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>
            <!-- -->
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg2 }}">
                    <h4 class="my-0 fw-bold {{ light2 }}">{{ dt2 }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Группа</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                            </tr>
                            {% for i in r2 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'rspadd' idp %}?dt={{ d2 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">{{ i.i }}</a>
                                        {% else %}
                                            <a href="{% url 'rspedit' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i.idpara.name }}</a>
                                        {% endif %}
                                        </td>


                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idgrp.name }}</td>
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers.fio }}</td>
                                        {% endif %}

                                    </li>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>
            <!-- -->
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg3 }}">
                    <h4 class="my-0 fw-bold {{ light3 }}">{{ dt3 }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Группа</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                            </tr>
                            {% for i in r3 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'rspadd' idp %}?dt={{ d3 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">{{ i.i }}</a>
                                        {% else %}
                                            <a href="{% url 'rspedit' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i.idpara.name }}</a>
                                        {% endif %}
                                        </td>


                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idgrp.name }}</td>
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers.fio }}</td>
                                        {% endif %}

                                    </li>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>
            <!-- -->
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg4 }}">
                    <h4 class="my-0 fw-bold {{ light4 }}">{{ dt4 }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Группа</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                            </tr>
                            {% for i in r4 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'rspadd' idp %}?dt={{ d4 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">{{ i.i }}</a>
                                        {% else %}
                                            <a href="{% url 'rspedit' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i.idpara.name }}</a>
                                        {% endif %}
                                        </td>


                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idgrp.name }}</td>
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers.fio }}</td>
                                        {% endif %}

                                    </li>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>
            <!-- -->
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg5 }}">
                    <h4 class="my-0 fw-bold {{ light5 }}">{{ dt5 }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Группа</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                            </tr>
                            {% for i in r5 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'rspadd' idp %}?dt={{ d5 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">{{ i.i }}</a>
                                        {% else %}
                                            <a href="{% url 'rspedit' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i.idpara.name }}</a>
                                        {% endif %}
                                        </td>


                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idgrp.name }}</td>
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers.fio }}</td>
                                        {% endif %}

                                    </li>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>
            <!-- -->
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg6 }}">
                    <h4 class="my-0 fw-bold {{ light6 }}">{{ dt6 }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Группа</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                            </tr>
                            {% for i in r6 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'rspadd' idp %}?dt={{ d6 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">{{ i.i }}</a>
                                        {% else %}
                                            <a href="{% url 'rspedit' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i.idpara.name }}</a>
                                        {% endif %}
                                        </td>

                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idgrp.name }}</td>
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers.fio }}</td>
                                        {% endif %}
                                    </li>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>
        </div>
    </center>
{% endblock content %}



