{% extends "base.html" %}
{% block title %}
    Мои преподаватели
{% endblock title %}
{% block header2 %}
    <div style="text-align: center">
        <strong> МОИ ПРЕПОДАВАТЕЛИ</strong><br><br>
        <a href="{% url 'rsplistadd' %}">
            <button type="button" class="btn btn-sm btn-outline-secondary btn-info"
                    style="color: black">Добавить преподавателя
            </button>
        </a>
    </div>
    <br>
{% endblock header2 %}
{% block content %}
    <div class="container-fluid">
        <div class="row  mb-2">
            {% for p in people %}
                <div class="col-sm">
                    <div class="col">
                        <div class="card shadow-sm  mb-2" style="width: 15rem;">
                            <div class="card-body">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <p class="card-text">{{ p.persid.fam }}
                                                <br>{{ p.persid.name }}<br> {{ p.persid.otch }}
                                            </p>
                                        </td>
                                        <td align="right">
                                            <img src="{{ p.persid.profphoto.url }}" alt="Аватарка" width="100px">
                                        </td>
                                    </tr>
                                </table>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'rspperson' p.persid.id wd %}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary btn-primary"
                                                    style="color: white">Расписание
                                            </button>
                                        </a>&nbsp;&nbsp;
                                        <a href="{% url 'messsend' p.persid.id %}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary btn-warning"
                                                    style="color: black">Написать
                                            </button>
                                        </a>&nbsp;&nbsp;
                                        <a href="{% url 'rsplistdel' p.id %}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary btn-danger"
                                                    style="color: black" role="button" data-toggle="tooltip"
                                                    title="Удалить из моего списка">X
                                            </button>
                                        </a>
                                        <br>
                                    </div>
                                    <!--small class="text-body-secondary">+375293766074</small-->
                                </div>
                            </div>
                            <div class="card-footer">
                                {% for n in note %}
                                    {% if n.persid == p.persid %}
                                        <table>
                                            <tr>
                                                <td>
                                                    <a href="{% url 'editnotepers' n.id %}">
                                                        <button type="button"
                                                                class="btn btn-sm btn-outline-secondary btn-success"
                                                                style="color: black" role="button" data-toggle="tooltip"
                                                                title="Редактировать заметки">+
                                                        </button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <small class="text-body-secondary">
                                                        {{ n }}
                                                    </small>
                                                </td>
                                            </tr>
                                        </table>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
