{% extends "base.html" %}
{% block title %}Добавление преподавателя в свой список{% endblock title %}
{% block header2 %}
    <div style="text-align: center">
        <strong>Добавление преподавателя в свой список</strong>
    <br><br>
    </div>
    <br>
{% endblock header2 %}
{% block content %}

    <div class="container" style="width: 50%; text-align: center">

        <form method="POST" class="post-form form-control">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
<br>
            ФИО: {{ form.fio }}<br><br>
            <button class="btn btn-primary py-2" type="submit">Добавить</button>
        </form>
    </div>
{% endblock content %}



