{% extends "base.html" %}
{% load static %}
{% block title %} Профиль {% endblock title %}
{% block header2 %}
    <div style="text-align: center">
        <strong>Профиль пользователя</strong>
    </div>
{% endblock header2 %}
{% block content %}
    <div class="container" style="width: 50%; text-align : center;">
        <table class="table">
            <tr>
                <td rowspan=5>
                    <a href="{% url 'profilephoto' uid %}"><img src="{{ photo }}" alt="Аватарка"></a>
                </td>
                <form method="POST" class="post-form form-control">
                    {% csrf_token %}
                    <tr>
                        <td align="right">
                            Старый пароль:
                        </td>
                        <td>
                            <input type="password" value="" name="old" class="border">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            Новый пароль:
                        </td>
                        <td>
                            <input type="password" value="" name="new1" class="border">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            Повторно пароль:
                        </td>
                        <td>
                            <input type="password" value="" name="new2" class="border">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary py-2" type="submit">Изменить пароль</button>
                        </td>
                    </tr>
                </form>
        </table>
    </div>
{% endblock content %}



