{% extends "base.html" %}
{% block title %}++{% endblock title %}
{% block left %}
    {{ il }}
{% endblock left %}
{% block content %}
    <div>
        {{ fio }}
        <br><br>
        <a href="{% url 'rspperson' idp wdp %}"> <<
            <Неделя назад
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'rspperson' idp wdn %}"> Неделя вперед>>> </a>
    </div>
    <div class="row row-cols-3 row-cols-md-1 mb-3">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 {{ bg1 }}">
                <h4 class="my-0 fw-normal {{ light1 }}">{{ dt1 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <table class="table table-hover">
                        <tr>
                            <th>Пара 1</th>
                            <th>Группа</th>
                            <th>Предмет</th>
                            <th>Ауд.</th>
                        </tr>
                        {% for i in r1 %}
                            <tr>
                                <li>
                                    <td>
                                        <a href="{% url 'rspedit' i.id %}">{{ i.idpara.name }}</a>
                                    </td>


                                    {% if i.idgrp.id == 0 %}
                                        <td></td>
                                        <td colspan=2></td>
                                    {% else %}
                                        <td>{{ i.idgrp.name }}</td>
                                        <td>{{ i.idpredmet }}</td>
                                        <td>{{ i.idaud.name }}</td>
                                    {% endif %}

                                </li>
                            </tr>

                        {% endfor %}
                    </table>
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 {{ bg2 }}">
                <h4 class="my-0 fw-normal {{ light2 }}">{{ dt2 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <table class="table table-hover">
                        <tr>
                            <th>Пара</th>
                            <th>Группа</th>
                            <th>Предмет</th>
                            <th>Ауд.</th>
                        </tr>
                        {% for i in r2 %}
                            <tr>
                                <li>
                                    <td>
                                        <a href="{% url 'rspedit' i.id %}">{{ i.idpara.name }}</a>
                                    </td>


                                    {% if i.idgrp.id == 0 %}
                                        <td></td>
                                        <td colspan=2></td>
                                    {% else %}
                                        <td>{{ i.idgrp.name }}</td>
                                        <td>{{ i.idpredmet }}</td>
                                        <td>{{ i.idaud.name }}</td>
                                    {% endif %}

                                </li>
                            </tr>
                        {% endfor %}
                    </table>
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 {{ bg3 }}">
                <h4 class="my-0 fw-normal {{ light3 }}">{{ dt3 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <table class="table table-hover">
                        <tr>
                            <th>Пара</th>
                            <th>Группа</th>
                            <th>Предмет</th>
                            <th>Ауд.</th>
                        </tr>
                        {% for i in r3 %}
                            <tr>
                                <li>
                                    <td>
                                        <a href="{% url 'rspedit' i.id %}">{{ i.idpara.name }}</a>
                                    </td>


                                    {% if i.idgrp.id == 0 %}
                                        <td></td>
                                        <td colspan=2></td>
                                    {% else %}
                                        <td>{{ i.idgrp.name }}</td>
                                        <td>{{ i.idpredmet }}</td>
                                        <td>{{ i.idaud.name }}</td>
                                    {% endif %}

                                </li>
                            </tr>
                        {% endfor %}
                    </table>
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 {{ bg4 }}">
                <h4 class="my-0 fw-normal {{ light4 }}">{{ dt4 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <table class="table table-hover">
                        <tr>
                            <th>Пара</th>
                            <th>Группа</th>
                            <th>Предмет</th>
                            <th>Ауд.</th>
                        </tr>
                        {% for i in r4 %}
                            <tr>
                                <li>
                                    <td>
                                        <a href="{% url 'rspedit' i.id %}">{{ i.idpara.name }}</a>
                                    </td>


                                    {% if i.idgrp.id == 0 %}
                                        <td></td>
                                        <td colspan=2></td>
                                    {% else %}
                                        <td>{{ i.idgrp.name }}</td>
                                        <td>{{ i.idpredmet }}</td>
                                        <td>{{ i.idaud.name }}</td>
                                    {% endif %}

                                </li>
                            </tr>
                        {% endfor %}
                    </table>
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 {{ bg5 }}">
                <h4 class="my-0 fw-normal {{ light5 }}">{{ dt5 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <table class="table table-hover">
                        <tr>
                            <th>Пара</th>
                            <th>Группа</th>
                            <th>Предмет</th>
                            <th>Ауд.</th>
                        </tr>
                        {% for i in r5 %}
                            <tr>
                                <li>
                                    <td>
                                        <a href="{% url 'rspedit' i.id %}">{{ i.idpara.name }}</a>
                                    </td>


                                    {% if i.idgrp.id == 0 %}
                                        <td></td>
                                        <td colspan=2></td>
                                    {% else %}
                                        <td>{{ i.idgrp.name }}</td>
                                        <td>{{ i.idpredmet }}</td>
                                        <td>{{ i.idaud.name }}</td>
                                    {% endif %}

                                </li>
                            </tr>
                        {% endfor %}
                    </table>
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 {{ bg6 }}">
                <h4 class="my-0 fw-normal {{ light6 }}">{{ dt6 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <table class="table table-hover">
                        <tr>
                            <th>Пара</th>
                            <th>Группа</th>
                            <th>Предмет</th>
                            <th>Ауд.</th>
                        </tr>
                        {% for i in r6 %}
                            <tr>
                                <li>
                                    <td>
                                        <a href="{% url 'rspedit' i.id %}">{{ i.idpara.name }}</a>
                                    </td>
                                    {% if i.idgrp.id == 0 %}
                                        <td ></td>
                                        <td colspan=2></td>
                                    {% else %}
                                        <td>{{ i.idgrp.name }}</td>
                                        <td>{{ i.idpredmet }}</td>
                                        <td>{{ i.idaud.name }}</td>
                                    {% endif %}
                                </li>
                            </tr>
                        {% endfor %}
                    </table>
                </ul>

            </div>
        </div>
    </div>
{% endblock content %}



