{% extends "base.html" %}
{% block title %}++{% endblock title %}
{% block left %}
    {{ il }}
{% endblock left %}
{% block content %}
    <div>

        {{ fio }}
        <a href="{% url 'rspperson' idp wdp %}"> пред </a>
        <a href="{% url 'rspperson' idp wdn %}"> след </a>
    </div>
    <div class="row row-cols-3 row-cols-md-1 mb-3">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 bg-primary">
                <h4 class="my-0 fw-normal text-light">{{ dt1 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    {% for i in r1 %}
                        <li><a href="{% url 'rspedit' i.id %}" >{{ i.idpara.name }}</a>
                            {% if i.idgrp.id == 2 %}
                                {{ i.idgrp }}
                            {% else %}
                                {{ i.idgrp.name }}  {{ i.idpredmet }}  {{ i.idaud.name }}
                            {% endif %}

                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ dt2 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    {% for i in r2 %}
                        <li>{{ i.idpara.name }} {{ i.idgrp }} {{ i.idpredmet }} {{ i.idaud.name }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ dt3 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    {% for i in r2 %}
                        <li>{{ i.idpara.name }} {{ i.idgrp }} {{ i.idpredmet }} {{ i.idaud.name }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ dt4 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    {% for i in r2 %}
                        <li>{{ i.idpara.name }}{{ i.idgrp }} {{ i.idpredmet }} {{ i.idaud.name }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ dt5 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    {% for i in r2 %}
                        <li>{{ i.idpara.name }} {{ i.idgrp }}{{ i.idpredmet }} {{ i.idaud.name }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ dt6 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    {% for i in r2 %}
                        <li>{{ i.idpara.name }} {{ i.idgrp }} {{ i.idpredmet }} {{ i.idaud.name }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock content %}



