{% extends "base.html" %}
{% block title %}Расписание 1{% endblock title %}
{% block content %}
    <div class="container flex-nowrap">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active"  href="{% url 'rspperson' i wdp %}">Предыдущая неделя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rspperson' i wdn %}">Следующая неделя</a>
            </li>
        </ul>
    </div>
    <ul>
        {% for p in r %}
            <li><!--a href="/rasp/{{ p.id }}/">{{ p.id }} * {{ p.name }}</a-->
                {{ p.name }} {{ p.idpers }} {{ p.idpara }} {{ p.idpredmet }} {{ p.idgrp }}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}