{% extends "base.html" %}
{% block header2 %}
    <div style="text-align: center">
        <strong> РАСПИСАНИЯ</strong><br>
        <a href="{% url 'rsplistadd' %}">
            <button type="button" class="btn btn-sm btn-outline-secondary btn-info"
                    style="color: black">Добавить занятие
            </button>
        </a>
    </div>
    <br>
{% endblock header2 %}
{% block content %}
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <!--div class="list-group"-->
    <div class="columns-3 ">
            {% for rr in page_obj %}
                <a href="{% url 'rspdetail' rr.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                   aria-current="true">

                    <div class="d-flex gap-2 w-100 justify-content-between w-full">
                        <div>
                            <h6 class="mb-0">{{ rr.name }}</h6>
                            <p class="mb-0 opacity-75">{{ rr.name }} </p>
                        </div>
                        <small class="opacity-50 text-nowrap">{{ rr.id }}</small>
                    </div>
                </a>
            {% endfor %}
        </div>


    <!--div class="columns-3 ...">
  <img class="w-full aspect-video ..." src="..." />
  <img class="w-full aspect-square ..." src="..." />

</div-->



    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Начало</a>
            <a href="?page={{ page_obj.previous_page_number }}">Назад<<</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>Вперед</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Конец &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock content %}
