{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet"  href="{% static 'css/base.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <script src="https://cdn.tailwindcss.com"></script>

    <meta http-equiv="Cache-Control" content="no-store">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#712cf9">
    <title>
        {% block title %}
            Не сработал блок title
        {% endblock title %}
    </title>
</head>
<body>
<div class="container">
    <!-- header wrapper   -->
    {% include "header.html" %}
    <!-- /header -->
    <!-- End Navigation -->
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="container">
                    {% block header2 %}
                        Не сработал блок хидер2
                    {% endblock header2 %}
                    <br>
                    {% if messages %}
                        {% for message in messages %}
                            <div style="width: 100%; text-align: center;" class="alert alert-{{ message.tags }} "
                                 id="msg" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% block content %}
                    Не сработал блок контента
                {% endblock content %}
            </div>
        </div>
        <div class="clear">
        </div>
        <!-- Begin Footer -->
        <div class="footer">
            <!-- footer -->
            {% include "footer.html" %}
            <!-- /footer -->
        </div>
        <!-- End Footer -->
    </div>
</div>
</body>
</html>