{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block header %}О нас{% endblock header %}
{% block content %}
    <table width="100%" height = "100%"><tr>
<td style="background-color: aquamarine"><div class="container-fluid" >
  <div class="row" >
      {% for p in page_obj %}
          <div class="col-sm">
              <div class="col">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <p class="card-text">{{ p.fam }} <br>{{ p.name }}<br> {{ p.otch }}</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <a href="{% url 'rspperson' p.id wd %}">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Расписание</button>
                                  </a>
                                  <a href="{% url 'rspperson' p.id wd %}">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать
                                      </button>
                                  </a>
                              </div>
                              <small class="text-body-secondary">#</small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

   {% endfor %}
  </div>
</div></td>
<td style="background-color: red"><div class="container-fluid" >
  <div class="row" >
      {% for p in page_obj %}
          <div class="col-sm">
              <div class="col">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <p class="card-text">{{ p.fam }} <br>{{ p.name }}<br> {{ p.otch }}</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <a href="{% url 'rspperson' p.id wd %}">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Расписание</button>
                                  </a>
                                  <a href="{% url 'rspperson' p.id wd %}">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать
                                      </button>
                                  </a>
                              </div>
                              <small class="text-body-secondary">#</small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

   {% endfor %}
  </div>
</div></td>
    </tr></table>
{% endblock content %}