{% extends "base.html" %}
{% block title %}{{ tit }}{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 bg-primary">
                <h4 class="my-0 fw-normal text-light">Понедельник{{ dt1 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <li></li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>

            </div>
        </div>
        <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Вторник{{ dt2 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>

            </div>
        </div>
    <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Среда{{ dt3 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>

            </div>
        </div>
    <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Четверг{{ dt4 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>

            </div>
        </div>
    <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Пятница{{ dt5 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>

            </div>
        </div>
    <!-- -->
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Суббота{{ dt6 }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-0 mb-0">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>

            </div>
        </div>
    </div>
{% endblock content %}



