<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="{% url 'person' %}" class="nav-link">Участники</a></li>
        <li class="nav-item"><a href="{% url 'aud' %}" class="nav-link">Аудитории</a></li>
        <li class="nav-item"><a href="{% url 'grp' %}" class="nav-link">Группы</a></li>
        <li class="nav-item"><a href="{% url 'predmet' %}" class="nav-link">Предметы</a></li>
        <li class="nav-item"><a href="/admin" class="nav-link active">Админка</a></li>
        <li class="nav-item"><a href="/grid" class="nav-link">Grid</a></li>
      </ul>
    </header>
  </div>