{% extends "base.html" %}
{% block title %}{{ fio }} ({{ wd }}){% endblock title %}
{% block content %}
    <div class="container">
        <br>
        <a href="{% url 'rspperson' uid wd %}">
            <button type="button" class="btn btn-sm btn-outline-secondary btn-primary"
                    style="color: white">Моё расписание
            </button>
        </a>
        <a href="{% url 'rspmesssend' uid %}">
            <button type="button" class="btn btn-sm btn-outline-secondary btn-success"
                    style="color: white">Написать сообщение
            </button>
        </a>
    <a href="{% url 'rsplistadd' %}">
            <button type="button" class="btn btn-sm btn-outline-secondary btn-info"
                    style="color: black">Добавить преподавателя
            </button>
        </a>
        <br>
        <!--  сообщения тут  -->
        {% if mes %}
            <br>
            <strong>Сообщения:</strong><br>
            <table class="table table-hover table-sm">
                <tr>
                    <th>Дата</th>
                    <th>Кратко</th>
                    <th>Важность</th>
                    <th>От кого</th>
                    <th>Содержание</th>
                    <th>Управление</th>
                </tr>
                {% for m in mes %}
                    {% if m.warn == 1 %}
                        <tr class="table-danger">
                            {% else %}
                        <tr>
                    {% endif %}
                <td>{{ m.dt }}</td>
                <td>{{ m }}</td>

                {% if m.warn == 1 %}
                    <td> ВАЖНО</td>
                {% else %}
                    <td>обычное</td>
                {% endif %}

                <td>
                    {{ m.fromid }} </td>
                <td>{{ m.long }}</td>
                <td><a href="{% url 'rspmesssend' m.fromid.id %}">
                    <button type="button" class="btn btn-sm btn-outline-secondary btn-success"
                            style="color: white">Ответить
                    </button>
                </a>
                    <a href="{% url 'rspmessclear' m.id %}">
                        <button type="button" class="btn btn-sm btn-outline-secondary btn-danger"
                                style="color: black">Очистить
                        </button>
                    </a></td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock content %}