{% extends "base.html" %}
{% block title %}++{% endblock title %}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

{% block header2 %}
    <div style="text-align: center">
        <strong> {{ name }}</strong>
        <br>
        <a href="{% url 'grpdetailrasp' idp wdp %}"> <<
            <Неделя назад
        </a>
        <{{ wd }}>
        <a href="{% url 'grpdetailrasp' idp wdn %}"> Неделя вперед>>> </a>
    </div>
    <br>
{% endblock header2 %}
{% block content %}
    <center>
        <div class="row row-cols-3 row-cols-md-1 mb-3" style="width: 80%; align: center">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg1 }} ">
                    <h4 class="my-0 fw-normal {{ light1 }}">{{ dt1 }} <b>({{ name }})</b></h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                                <th>Ауд.</th>
                            </tr>
                            {% for i in r1 %}
                                <tr>
                                    <li>
                                        {% if i.v == 0 %}
                                            <td>
                                                <a href="{% url 'grpaddrasp' idp %}?dt={{ d1 }}&np={{ i.np }}"
                                                   data-toggle="tooltip" title="СВОБОДНО"
                                                   class="btn btn-primary" role="button">
                                                    {{ i.i }}
                                                </a>
                                            </td>
                                        {% else %}
                                            <td>
                                                <a href="{% url 'grpeditrasp' i.i.id %}"
                                                   class="btn btn-warning" role="button">{{ i.i }}</a>
                                            </td>
                                        {% endif %}



                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers }}</td>
                                            <td>{{ i.i.idaud.name }}</td>
                                        {% endif %}

                                    </li>
                                </tr>

                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>


            <!-- -->

            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg2 }}">
                    <h4 class="my-0 fw-normal {{ light2 }}">{{ dt2 }} <b>({{ name }})</b></h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                                <th>Ауд.</th>
                            </tr>
                            {% for i in r2 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'grpaddrasp' idp %}?dt={{ d2 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">
                                                {{ i.i }}</a>
                                        {% else %}
                                            <a href="{% url 'grpeditrasp' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i }}</a>
                                        {% endif %}
                                        </td>


                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers }}</td>
                                            <td>{{ i.i.idaud.name }}</td>
                                        {% endif %}

                                    </li>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>
            <!-- -->
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg3 }}">
                    <h4 class="my-0 fw-normal {{ light3 }}">{{ dt3 }} <b>({{ name }})</b></h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                                <th>Ауд.</th>
                            </tr>
                            {% for i in r3 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'grpaddrasp' idp %}?dt={{ d3 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">
                                                {{ i.i }}</a>
                                        {% else %}
                                            <a href="{% url 'grpeditrasp' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i }}</a>
                                        {% endif %}
                                        </td>


                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers }}</td>
                                            <td>{{ i.i.idaud.name }}</td>
                                        {% endif %}

                                    </li>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>

            <!-- -->

            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg4 }}">
                    <h4 class="my-0 fw-normal {{ light4 }}">{{ dt4 }} <b>({{ name }})</b></h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                                <th>Ауд.</th>
                            </tr>
                            {% for i in r4 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'grpaddrasp' idp %}?dt={{ d4 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">
                                                {{ i.i }}</a>
                                        {% else %}
                                            <a href="{% url 'grpeditrasp' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i }}</a>
                                        {% endif %}
                                        </td>


                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers }}</td>
                                            <td>{{ i.i.idaud.name }}</td>
                                        {% endif %}

                                    </li>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>

            <!-- -->
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg5 }}">
                    <h4 class="my-0 fw-normal {{ light5 }}">{{ dt5 }} <b>({{ name }})</b></h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                                <th>Ауд.</th>
                            </tr>
                            {% for i in r5 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'grpaddrasp' idp %}?dt={{ d5 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">
                                                {{ i.i }}</a>
                                        {% else %}
                                            <a href="{% url 'grpeditrasp' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i }}</a>
                                        {% endif %}
                                        </td>


                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers }}</td>
                                            <td>{{ i.i.idaud.name }}</td>
                                        {% endif %}

                                    </li>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>
            <!-- -->
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 {{ bg6 }}">
                    <h4 class="my-0 fw-normal {{ light6 }}">{{ dt6 }} <b>({{ name }})</b></h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-0 mb-0">
                        <table class="table table-hover">
                            <tr>
                                <th>Пара</th>
                                <th>Предмет</th>
                                <th>Преподаватель</th>
                                <th>Ауд.</th>
                            </tr>
                            {% for i in r6 %}
                                <tr>
                                    <li>
                                        <td>{% if i.v == 0 %}
                                            <a href="{% url 'grpaddrasp' idp %}?dt={{ d6 }}&np={{ i.np }}"
                                               data-toggle="tooltip" title="СВОБОДНО"
                                               class="btn btn-primary" role="button">
                                                {{ i.i }}</a>
                                        {% else %}
                                            <a href="{% url 'grpeditrasp' i.i.id %}" class="btn btn-warning"
                                               role="button">{{ i.i }}</a>
                                        {% endif %}
                                        </td>

                                        {% if i.v == 0 %}
                                            <td>???</td>
                                            <td colspan=2></td>
                                        {% else %}
                                            <td>{{ i.i.idpredmet }}</td>
                                            <td>{{ i.i.idpers }}</td>
                                            <td>{{ i.i.idaud.name }}</td>
                                        {% endif %}
                                    </li>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>

                </div>
            </div>
        </div>
    </center>
{% endblock content %}




