{% extends "base.html" %}
{% block title %}Расписание{% endblock title %}
{% block content %}
    <ul>
        <li>
            <br>
            <table class="table table-hover">
                <tr>
                    <td>Пара:</td>
                    <td> {{ r.idpara }} </td>
                </tr>
                <tr>
                    <td>Название:</td>
                    <td> {{ r.name }} </td>
                </tr>
                <tr>
                    <td>Преподаватель:</td>
                    <td> {{ r.idpers }} </td>
                </tr>
                <tr>
                    <td>Аудитория:</td>
                    <td> {{ r.idaud }} </td>
                </tr>
                <tr>
                    <td>Группа:</td>
                    <td> {{ r.idgrp }} </td>
                </tr>
            </table>
        </li>
    </ul>
{% endblock content %}